<!DOCTYPE html>
<html>
<head>
    <title>{{heading}}</title>
</head>
<body>
    <h1>{{heading}}</h1>

    <ul>
        <li><a href="{% url 'index' %}">HOME</a></li>
        <li><a href="{% url 'contact:index' %}">CONTACT</a></li>
    </ul>



    <form method="post">
        {% csrf_token %}
        <label for="nama">Nama : </label>
        <input type="text" name="nama" id="nama">
        <br>
        <label for="alamat">Alamat : </label>
        <input type="text" name="alamat" id="alamat">
        <br>
        <button type="submit">KIRIM</button>
    </form>

<h2>{{nama}}</h2>
<h3>{{alamat}}</h3>

</body>
</html>